@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>*@

<div class="row">
    <div>
        <h2>Assignment</h2>
        <p>            
            The task is to write a program that imports a list of books, read from a text file with the following template:<br />
            [Format Indicator]<br />
            NAME ISBN AUTHOR<br/>
            A.<br />
            NAME: starts from column 1 ends at 20,<br />
            ISBN: starts from column 21 ends at 41,<br />
            AUTHOR: starts from column 42 ends at 62.<br />
            B.<br />
            NAME: starts from column 1 ends at 30,<br />
            ISBN: starts from column 31 ends at 51,<br />
            AUTHOR: starts from column 52 ends at 72.
        </p>
    </div>
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div id="multiple">
                <input type="file" class="btn btn-default" name="files" multiple />
            </div><br/>
            <button class="btn btn-default" >Display data</button>
        }
    </div>
</div>